:root {
    --base: #77cc77;
    --spacing: 30px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

body {
    background: #193549;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}